{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/text-analyser.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
<div style="position: relative;">
    <textarea class="text-analyser" id="text-area-content" rows="4" cols="50">
</textarea>
    <br>
    <div class="center-align" id="btn-analyse">
        <div class="checkbox-wrap">
            <div class="select-align"><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1">Sentiment Analysis</label>
            </div>
            <div class="select-align"><input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                <label for="vehicle2">Detect Toxic Language</label>
            </div>
            <div class="select-align"><input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3">Identify Context</label>
            </div>
        </div>
    </div>
    <div class="center-align align-analyse">
        <button class="btn btn-submit">
            Analyse
        </button>
    </div>
</div>
<script>
    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");

    const analyseButton = document.getElementById('btn-analyse')
    analyseButton.addEventListener('click', function () {

        var text_content = document.getElementById('text-area-content').value;
        var payload = JSON.stringify({
            "data": text_content
        });
        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: payload,
            redirect: 'follow'
        };
        const URLBase = window.location.origin
        fetch(URLBase, requestOptions)
            .then(response => response.text())
            .then(result => {
                var res = JSON.parse(result)
                if (res['id']) {
                    window.location.href = URLBase + '/analyse/' + res['id'];
                }
            })
            .catch(error => console.log('error', error));
    });

</script>